[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "footballpenaltiesBL"]
	path = footballpenaltiesBL
	url = https://github.com/cran/footballpenaltiesBL
[submodule "mrregression"]
	path = mrregression
	url = https://github.com/cran/mrregression
[submodule "RaProR"]
	path = RaProR
	url = https://github.com/cran/RaProR
